<!--  ==========================  -->
<!--  === Social media Links ===  -->
<!--  ==========================  -->
<div id="smoLinks" class="large-12 small-12 columns">
    <div class="menu-centered">
        <div class="large-12 small-12 columns smo-icons">
            <ul class="menu-smo menu simple">
                <li>
                    <a class="badge button fbIcon"
                       href="https://www.facebook.com/sharer.php?m2w&amp;s=100&amp;p[title]={{encodeURI page.title}}{{encodeURI ' | '}}{{encodeURI page.siteName}}&amp;p[summary]={{encodeURI page.fb_description}}&amp;p[url]={{encodeURI page.siteURL}}{{encodeURI page.pageURL}}&amp;p[images][0]={{encodeURI page.siteURL}}{{encodeURI '/images/favicons/logo_media.jpg'}}"
                       title="Share on Facebook" rel="external" target="_blank">
                        <i class="fi-social-facebook"></i><span class="show-for-sr">Share on Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="badge button tweetIcon"
                       href="https://twitter.com/share?text={{encodeURI page.title}}{{encodeURI ' | '}}{{encodeURI page.siteName}}&amp;url={{encodeURI page.siteURL}}{{encodeURI page.pageURL}}"
                       title="Share on Twitter" rel="external" target="_blank">
                        <i class="fi-social-twitter"></i><span class="show-for-sr">Share on Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="badge button pinterestIcon"
                       href="//pinterest.com/pin/create/button/?url={{encodeURI page.siteURL}}{{encodeURI page.pageURL}}&amp;description={{encodeURI page.title}}{{encodeURI ' | '}}{{encodeURI page.siteName}}&amp;media={{encodeURI page.siteURL}}{{encodeURI '/images/favicons/logo_media.jpg'}}"
                       title="Share on Pinterest" rel="external" target="_blank">
                        <i class="fi-social-pinterest"></i><span class="show-for-sr">Share on Pinterest</span>
                    </a>
                </li>
                <li>
                    <a class="badge button linkedinIcon"
                       href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{encodeURI page.siteURL}}{{encodeURI page.pageURL}}&amp;title={{encodeURI page.title}}{{encodeURI ' | '}}{{encodeURI page.siteName}}"
                       title="Share This on LinkedIn" rel="external" target="_blank">
                        <i class="fi-social-linkedin"></i><span class="show-for-sr">Share This on LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a class="badge button gplusIcon"
                       href="https://plus.google.com/share?url={{encodeURI page.siteURL}}{{encodeURI page.pageURL}}"
                       title="Share This on Google+" rel="external" target="_blank">
                        <i class="fi-social-google-plus"></i><span class="show-for-sr">Share This on Google+</span>
                    </a>
                </li>
                <li>
                    <a class="badge button emailItem"
                       href="mailto:?subject={{encodeURI page.title}}{{encodeURI ' | '}}{{encodeURI page.siteName}}&amp;body={{encodeURI page.title}}{{encodeURI ' | '}}{{encodeURI page.siteName}} {{encodeURI 'was shared to you. Check it out at '}}{{encodeURI page.siteURL}}{{encodeURI page.pageURL}}"
                       title="Share by Email" rel="external">
                        <i class="fi-mail"></i><span class="show-for-sr">Share by Email</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
