<!--  ==============  -->
<!--  === Footer ===  -->
<!--  ==============  -->
<div class="footer-wrapper row expanded">
    <footer class="footer row contain-to-grid">

        <div id="footer-nav" class="large-12 small-12 columns">
            <ul class="footer-menu vertical medium-horizontal align-center menu">
                <li{{#is basename navigation.footer.home.basename}} class="active"{{/is}}>
                    <a href="{{data navigation.footer.home.url}}" title="{{data navigation.footer.home.title}}">
                        <span>{{data navigation.footer.home.title}}</span>
                    </a>
                </li>
                <li{{#is basename navigation.footer.sitemap.basename}} class="active"{{/is}}>
                    <a href="{{data navigation.footer.sitemap.url}}" title="{{data navigation.footer.sitemap.title}}">
                        <span>{{data navigation.footer.sitemap.title}}</span>
                    </a>
                </li>
                <li{{#is basename navigation.footer.tnc.basename}} class="active"{{/is}}>
                    <a href="{{data navigation.footer.tnc.url}}" title="{{data navigation.footer.tnc.title}}">
                        <span>{{data navigation.footer.tnc.title}}</span>
                    </a>
                </li>
                <li>
                    <a href="{{data navigation.footer.top.url}}" title="{{data navigation.footer.top.title}}">
                        <span>{{data navigation.footer.top.title}}</span>
                    </a>
                </li>
            </ul>
        </div>

        {{partial "smo_links"}}

        <div id="copyrights" class="large-12 small-12 columns text-center large-text-left">
            <p>Copyrights &copy; {{year}}</p>
        </div>

    </footer>
</div>
