<!DOCTYPE html>
<html class="no-js" lang="en-GB">
    <head>
        <title>{{ @root.title }} | {{ @root.siteName }}</title>
        <meta name="description" content="{{ @root.meta_description }} {{ @root.siteName }}">
        <meta name="keywords" content="{{ @root.meta_keywords }}">

        <link rel="alternate" hreflang="en" href="{{ @root.siteURL }}{{ @root.pageURL }}">
        <link rel="canonical" href="{{ @root.siteURL }}{{ @root.pageURL }}">

        <script>
            document.getElementsByTagName("html")[0].classList.remove("no-js");
        </script>

        <!--[if !IE]><!-->
        <script>
            if("ActiveXObject" in window){ document.documentElement.className += ' is-ie'; }
            if(/*@cc_on!@*/false) { document.documentElement.className += ' is-ie10'; }
            if(!(window.ActiveXObject) && "ActiveXObject" in window){ document.documentElement.className += ' is-ie11'; }
        </script>
        <!--<![endif]-->

        <!-- Twitter Cards -->
        <meta name="twitter:site" content="@{{ @root.twitter_user }}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ @root.title }} | {{ @root.siteName }}">
        <meta name="twitter:description" content="{{ @root.twitter_description }}">
        <meta name="twitter:image:src" content="{{ @root.siteURL }}/images//logo.jpg">

        <!-- Facebook Opengraph -->
        <meta property="og:title" content="{{ @root.title }} | {{ @root.siteName }}">
        <meta property="og:site_name" content="{{ @root.siteName }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ @root.siteURL }}">
        <meta property="og:image" content="{{ @root.siteURL }}/images//logo.jpg">
        <meta property="og:description" content="{{ @root.fb_description }}">

        {{#isTruthy @root.trackingConfig.enable}}
            <link rel="preconnect" href="{{ @root.trackingConfig.scriptDomain }}" crossorigin>
        {{/isTruthy}}

        <link rel="preload" href="/assets/fonts/robotocondensed-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
    </head>
