<!--  ================  -->
<!--  === Main Nav ===  -->
<!--  ================  -->
<nav class="top-bar">

    <!-- title bar for 'small' screen -->
    <div class="title-bar hide-for-large" data-responsive-toggle="main-menu" data-hide-for="large" style="display: none;">
        <div class="title-bar-right">
            <span class="title-bar-title">Menu</span>
            <!-- off-canvas menu -->
            <button class="menu-icon" type="button" data-open="offCanvasRight"></button>
            <!-- simple accordion menu -->
            <!--  <button class="menu-icon" type="button" data-toggle></button> -->
        </div>
    </div>

    <!-- "wider" top-bar menu for 'large' and up -->
    <section class="top-bar-section" id="main-menu">
        <ul class="dropdown menu left" data-responsive-menu="drilldown large-dropdown">
            <li{{#is @root.pageURL navigation.header.home.url}} class="active"{{/is}}>
                <a href="{{data navigation.header.home.url}}" title="{{data navigation.header.home.title}}">
                    <span>{{data navigation.header.home.title}}</span>
                </a>
            </li>
            <li{{#is @root.pageURL navigation.header.styleguide.url}} class="active"{{/is}}>
                <a href="{{data navigation.header.styleguide.url}}" title="{{data navigation.header.styleguide.title}}">
                    <span>{{data navigation.header.styleguide.title}}</span>
                </a>
            </li>
            <li class="has-submenu{{#is @root.pageURL navigation.header.sample1.url}} active{{/is}}">
                <a href="{{data navigation.header.sample1.url}}" title="{{data navigation.header.sample1.title}}">
                    <span>{{data navigation.header.sample1.title}}</span>
                </a>
                <ul class="menu submenu vertical" data-submenu>
                    <li{{#is @root.pageURL navigation.header.sample2.url}} class="active"{{/is}}>
                        <a href="{{data navigation.header.sample2.url}}" title="{{data navigation.header.sample2.title}}">
                            <span>{{data navigation.header.sample2.title}}</span>
                        </a>
                    </li>
                    <li{{#is @root.pageURL navigation.header.sample3.url}} class="active"{{/is}}>
                        <a href="{{data navigation.header.sample3.url}}" title="{{data navigation.header.sample3.title}}">
                            <span>{{data navigation.header.sample3.title}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>

</nav>
