<!--  ======================  -->
<!--  === Off Canvas Nav ===  -->
<!--  ======================  -->
<aside class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
    <!-- Menu -->
    <ul class="vertical dropdown menu off-canvas-list" data-responsive-menu="drilldown large-dropdown">
        <li{{#is basename navigation.header.home.basename}} class="active"{{/is}}>
            <a href="{{data navigation.header.home.url}}" title="{{data navigation.header.home.title}}">
                <span>{{data navigation.header.home.title}}</span>
            </a>
        </li>
        <li{{#is basename navigation.header.styleguide.basename}} class="active"{{/is}}>
            <a href="{{data navigation.header.styleguide.url}}" title="{{data navigation.header.styleguide.title}}">
                <span>{{data navigation.header.styleguide.title}}</span>
            </a>
        </li>
        <li class="has-submenu{{#is basename navigation.header.sample1.basename}} active{{/is}}">
            <a href="{{data navigation.header.sample1.url}}" title="{{data navigation.header.sample1.title}}">
                <span>{{data navigation.header.sample1.title}}</span>
            </a>
            <ul class="menu submenu vertical" data-submenu>
                <li{{#is basename navigation.header.sample2.basename}} class="active"{{/is}}>
                    <a href="{{data navigation.header.sample2.url}}" title="{{data navigation.header.sample2.title}}">
                        <span>{{data navigation.header.sample2.title}}</span>
                    </a>
                </li>
                <li{{#is basename navigation.header.sample3.basename}} class="active"{{/is}}>
                    <a href="{{data navigation.header.sample3.url}}" title="{{data navigation.header.sample3.title}}">
                        <span>{{data navigation.header.sample3.title}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- Close button -->
        <li>
            <a class="exit-off-canvas" href="#" title="Close Menu" data-close>
                <span><i class="fi-x"></i> Close Menu</span>
            </a>
        </li>
    </ul>

</aside>
