{{partial "html_start"}}

    <body>
        <div class="super-wrapper">
            <div id="wrapper" class="wrapper">

                <div class="off-canvas-wrapper">
                    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

                        <div class="off-canvas-content" data-off-canvas-content>

                            {{partial "masthead"}}

                            {% body %}

                            {{partial "footer"}}

                        </div>

                        {{partial "off_canvas_nav"}}

                    </div>
                </div>

            </div>
        </div>

{{partial "html_end"}}
